MONGODB_URI=mongodb://localhost:27017/ServiceHub
DB_NAME=ServiceHub_DB
BETTER_AUTH_SECRET=yoursecretkeyhere
BETTER_AUTH_URL=http://localhost:3000
SERVER_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=googleclientid
GOOGLE_SECRET_ID=googlesecretid
UPSTASH_REDIS_REST_URL=https://your-upstash-redis-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token_here
